<nav class="navbar navbar-expand-lg sticky-top shadow bg-info">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa fa-ticket me-2"
        style="transform: rotate(-30deg) scale(1.2);"></i>Bagendit Ticketing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link <%= (title == 'Dashboard') ? 'active' : '' %>" aria-current="page"
            href="/api/home/dashboard"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= (title == 'Tiket') ? 'active' : '' %> " href="#" id="navbarDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-table me-2"></i>Master Data
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/api/resource/tiket"><i class="fa fa-ticket-alt me-2"></i>Tiket</a></li>
            <!-- <li><a class="dropdown-item" href="/api/resource/"><i class="fa fa-ticket me-2"></i>Jenis Tiket</a></li> -->
            <li><a class="dropdown-item" href="/api/resource/loket"><i class="fa fa-store-alt me-2"></i>Loket</a></li>
            <li><a class="dropdown-item" href="/api/resource/objWisata"><i class="fa fa-umbrella-beach me-2"></i>Objek
                Wisata</a></li>
            <!-- <li><a class="dropdown-item" href="/api/resource/"><i class="fa fa-users me-2"></i>Users</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-hand-holding-usd me-2"></i>Transaksi
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/api/resource/transaksi"><i
                  class="fa fa-money-bill-trend-up me-2"></i>Daftar Transaksi</a>
            </li>
            <li><a class="dropdown-item" href="/api/resource/pemesanan"><i class=" fa fa-money-check-dollar
                me-2"></i>Daftar Pemesanan
                Tiket</a></li>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <img src="<%= user.photo %> " class="rounded-circle" width="30" alt="userPict">
        <ul class="navbar-nav">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle <%= (title == 'Home') ? 'active' : '' %> " href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= user.nama_lengkap %> | <%= (user.is_admin) ? 'Administrator' : 'User' %>

            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/api/user/profile"><i class="fa fa-user-circle me-2"></i>Profil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/api/auth/logout"><i class="fa fa-sign-out me-2"></i>Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>