<nav class="navbar navbar-expand-lg sticky-top shadow bg-info">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa fa-ticket me-2"
        style="transform: rotate(-30deg) scale(1.2);"></i>Bagendit Ticketing |</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link <%= (title == 'Dashboard') ? 'active' : '' %>" aria-current="page"
            href="/api/transaction/order"><i class="fa fa-house-chimney me-2"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (title == 'Order') ? 'active' : '' %>" aria-current="page"
            href="/api/transaction/order"><i class="fa fa-ticket me-2" style="transform: rotate(-30deg)"></i>Pesan
            Tiket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (title == 'Your Order') ? 'active' : '' %>" aria-current="page"
            href="/api/pemesanan/checkout"><i class=" fa fa-cart-arrow-down me-2"></i>Daftar Pemesanan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (title == 'Order History') ? 'active' : '' %>" aria-current="page"
            href="/api/pemesanan/history"><i class=" fa fa-history me-2"></i>Histori Pemesanan</a>
        </li>

      </ul>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <img src="<%= user.photo %>" class="rounded-circle" width="30" alt="userPict">
        <ul class="navbar-nav">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle <%= (title == 'Home') ? 'active' : '' %> " href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= user.nama_lengkap %> | <%= (user.is_admin) ? 'Administrator' : 'User' %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/api/user/profile"><i class="fa fa-user-circle me-2"></i>Profil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/api/auth/logout"><i class="fa fa-sign-out me-2"></i>Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>